{
  "parser": "@typescript-eslint/parser",
  "root": true,
  "ignorePatterns": ["dist"],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    "@typescript-eslint/consistent-type-imports": "error"
  }
}
