/* General */

body {
  background-color: Black;
  color: white;
}

header {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px 2px black;
  color: orange;
}

h1 {
  margin-top: 0.2em;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
