@import 'header.css';
@import 'map.css';

/* General */

:root {
  --tooltip-bg-color: rgba(255, 255, 255, 0.85);
  --overlay-bg-color: rgba(0, 0, 0, 0.4);
}

body {
  background-color: Black;
  color: white;
}

.error-text {
  color: red;
}
