/* General */

:root {
  --popup-bg-color: rgba(255, 255, 255, 0.85);
  --heading-bg-color: rgba(0, 0, 0, 0.4);
  --heading-border-radius: 10px;
}

body {
  background-color: Black;
  color: white;
}

header {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  pointer-events: none;

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#header-text {
  display: inline-block;

  background-color: var(--heading-bg-color);
  box-shadow: 0 0 10px 7px var(--heading-bg-color);
  border-radius: 10px;
  margin-top: 0.7em;
  margin-right: 0.7em;
}

#header-text h1 {
  margin: 3px 0.2em 0.1em 0.2em;
  display: inline-block;

  font-weight: bold;
  font-size: xx-large;
  color: yellow;
  --h1-text-shadow: indigo 0px 0px 10px;
  text-shadow: var(--h1-text-shadow), var(--h1-text-shadow), var(--h1-text-shadow),
    var(--h1-text-shadow), var(--h1-text-shadow), var(--h1-text-shadow);
}

#header-text #total-stats {
  margin-bottom: 0.2em;
  display: inline-block;

  color: orange;
  font-size: medium;
  font-style: italic;
  line-height: 1.3;
  --stats-text-shadow: black 0px 0px 10px;
  text-shadow: var(--stats-text-shadow), var(--stats-text-shadow);
}

@media (max-width: 600px) {
  header {
    text-align: right;
  }

  #header-text {
    text-align: center;
    box-shadow: none;
  }

  #header-text h1 {
    font-size: 1.7em;
  }
}

#map {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 100%;
}

.route-popover {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.leaflet-control-layers {
  color: lightgray;
  background-color: var(--heading-bg-color);
  border-radius: var(--heading-border-radius);
}

.leaflet-popup-content-wrapper {
  background-color: var(--popup-bg-color);
}

.leaflet-popup-tip {
  background-color: var(--popup-bg-color);
}

.bike-trails-dark {
  filter: invert(100%) hue-rotate(350deg) saturate(1.5) brightness(85%) contrast(100%);
}

.bike-trails-satellite {
  filter: invert(0%) hue-rotate(120deg) saturate(2) brightness(100%) contrast(100%);
}

.error-text {
  color: red;
}
