name: Get Data

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0' # Every sunday

jobs:
  get-data:
    name: Get Data
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Get Data
        env:
          MMR_CLIENT_ID: ${{ secrets.MMR_CLIENT_ID }}
          MMR_AUTH_TOKEN: ${{ secrets.MMR_AUTH_TOKEN }}
          MMR_USER_ID: ${{ secrets.MMR_USER_ID }}
        run: yarn get-data
